<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CONFETTI CUISINE</title>

    <!-- UIkitを使う為の指定 -->
    <link rel="stylesheet" href="css/uikit-rtl.min.css">
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
  </head>
  <body>
    <div class="uk-section uk-section-muted uk-padding-remove">
      <div class="uk-container uk-container-center uk-background-muted">
        <!-- グローバルヘッダ -->
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">daikonus</a>
          </div>
          <div class="uk-navbar-right">
            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="github"></a>
          </div>
        </nav>

        <!-- ヘッダナビ -->
        <div class="uk-grid-small uk-text-center" uk-grid>
          <div class="uk-width-expand">
            <ul class="uk-flex-left" uk-tab>
              <li><a onclick="location.href='/'">Home</a></li>
              <li><a onclick="location.href='/courses'" >Course</a></li>
              <li><a onclick="location.href='/contact'">Contact</a></li>
            </ul>
          </div>
        </div>

        <%- body %>

        <!-- フッタ -->
        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-padding-small" uk-grid>
          <div class="uk-text-muted uk-text-large">
            <p>present by confetti cuisine</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
