<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <div id="nav">NAVIGATION</div>
      <%- body %>
    <div id="footer">FOOTER</div>
  </body>
</html>
